# Configuration file for PHPStan
# vendor/bin/phpstan analyse
parameters:
	level: 8  # From 0 to 8
	checkMissingIterableValueType: false
	paths:
		- WorkerV1
		- WorkerV1Decorators
		- src
		- tests
	excludePaths:
		- */fab/*
	ignoreErrors:
	    - '#Property Neighborhoods\\KojoWorkerDecoratorComponent.* has no typehint specified.#'
	    - '#Method Neighborhoods\\KojoWorkerDecoratorComponent.*Interface::set.*\(\) has no return typehint specified.#'
	    - message: '#Method Neighborhoods\\KojoWorkerDecoratorComponent\\WorkerV1Decorators\\.*Decorator\\Builder::[gs]etPrefabDoctrineDbalConnectionDecoratorRepository\(\) has .* typehint specified.#'
	      path: WorkerV1Decorators/*/src/*/Builder.php
	    - message: '#Method Neighborhoods\\KojoWorkerDecoratorComponent\\Worker\\ReschedulingDecorator\\Builder::[gs]etPrefabDoctrineDbalConnectionDecoratorRepository\(\) has .* typehint specified.#'
	      path: src/Worker/ReschedulingDecorator/Builder.php
